<div style="margin-top: 60px; margin-bottom: 60px">&nbsp;</div>
<main id="main">
  <section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <p>
            MetaZae Research is a stock market solution providing company with
            vast experience of delivering quality trading SGX stock tips and
            KLSE stock signals. Our sole vision is to provide best trading
            experiences to our prestigious clienteles and build their strong
            portfolios with profitable trading goals.
          </p>
          <ul>
            <li>Our stock signals are easy to understand and implement</li>
            <li>The combo of technical and fundamental analysis</li>
            <li>Diverse service range for traders and investors</li>
            <li>Unique problem-solving approach for each client</li>
            <li>The experienced research team</li>
          </ul>
        </div>
        <div
          class="col-lg-6 pt-4 pt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <h3>COMPANY AT A GLANCE</h3>
          <p>
            MetaZae is an idea, which emerged 3 years ago with an objective of
            maximizing profitability of Malaysian and Singapore stock market
            traders/investors. We call ourselves stock market research leader,
            because every share tip shared by our stock advisors is based on
            thorough research and aims huge returns. MetaZae is shaped to
            consult stock traders who were trading without any thorough
            knowledge of KLSE stock market and SGX stock market. While
            subscribing our stock market recommendation plans, traders/investors
            get a ladder to climb high and with their success, we shine with our
            company’s growth and recognition.
          </p>
        </div>
      </div>
      <div class="section-title mt-6" data-aos="fade-up">
        <h2>Why us ?</h2>
      </div>
      <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
        <li><b>Client’s growth is our priority</b></li>
        <p>
          Every investor dreams of multiplying capital investment and with our
          quality based Malaysian stock picks and Singapore stock tips this
          dream surely comes true because our sole priority is your happiness
          and satisfaction.
        </p>

        <li><b>Market Oriented Leaders</b></li>
        <p>
          We are leaders in our industry. We share stock signals exclusively to
          our client. Signals are optimized as per our client’s needs. We deal
          with long term midterm and contra stock tips. Our through technical
          analysis is highly accurate and result oriented.
        </p>

        <li><b>24*7 support system</b></li>
        <p>
          Our team will always stand on one foot to help our stock traders and
          serve them the best. Daily stock signals will help you to trade
          smartly and accurately. Our research analyst and support team will
          always be in touch with you in case of any queries and decision
          making.
        </p>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->
</main>
