<section id="about">

  <div class="row about-wrap">
    <div class="col-full">

      <div class="about-profile-bg"></div>

     <div class="intro">
       <h3 class="animate-this">About Us</h3>
        <p class="lead animate-this"> We at<span> MetaZae</span> focus on the brands, products, and services. We make client projects more enticing & attractive than their competitors by working on creative outlets, including advertising and consulting agencies.</p>
     </div>

    </div> <!-- end col-full  -->
  </div> <!-- end about-wrap  -->

</section> <!-- end about -->
