<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }


  .content {
    display: block;
    background-color: rgb(34, 34, 34);
  }



  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }




  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }



    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>


<mat-toolbar>
  <span [routerLink]="'home'">
    <div>
      <span style="padding: 8px 0 8px 8px; background-color: #ffffff; color: #151515; font-size: larger;">
        META
      </span>
      <span style="padding: 8px 8px 18px 10px; background-color: #272727; color: #ffffff; font-size: larger;">
        ZAE
      </span>
    </div>
    <!--
<img src="/assets/images/nav_logo.png" id="nav_logo"/>
    -->
  </span>
  <span class="example-spacer"></span>
  <button mat-button [routerLink]="'case'" routerLinkActive="active-link">Case Studies</button>
  <button mat-button [routerLink]="'projects'" routerLinkActive="active-link">Projects</button>
  <button mat-button [routerLink]="'contact'" routerLinkActive="active-link">Contact us</button>
  <button mat-button [routerLink]="'about'" routerLinkActive="active-link">About us</button>
</mat-toolbar>
<div class="content bg-dark" role="main">
  <router-outlet></router-outlet>
  <div class="row">

</div>
<div class="col">
  <div class="d-flex justify-content-center footer">
    <div class="mt-4 mb-3">
      <h3 class="text-light">&copy; MetaZae</h3>
      <ul class="" style="list-style-type:none; font-size: 2.4rem; margin-left: -10px;">
        <li class="animate-intro" class="footer_social">
            <a href="https://www.facebook.com/MetaxZae" class="text-light "><i class="fa fa-facebook-square"></i></a>
        </li>
        <li class="animate-intro" class="footer_social">
            <a href="#" class="text-light "><i class="fa fa-twitter"></i></a>
        </li>
        <li class="animate-intro" class="footer_social">
            <a href="https://www.instagram.com/meta.zae/" class="text-light "><i class="fa fa-instagram"></i></a>
        </li>
        <li class="animate-intro" class="footer_social">
            <a href="#" class="text-light "><i class="fa fa-dribbble"></i></a>
        </li>
     </ul> <!-- end home-social-list -->
     </div>
  </div>

 </div>
 </div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


