<div style="margin-top: 60px; margin-bottom: 60px">&nbsp;</div>
<main id="main">
  <section id="WEB" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Web development</h2>
      </div>
      <div class="row content">
        <div class="col-lg-3 order-1" data-aos="fade-up" data-aos-delay="150">
        <img src="../../assets/images/web.jpg" class="infoimage "/>
        </div>
        <div class="col-lg-9 order-2" data-aos="fade-up" data-aos-delay="150"><p>
          <p style="text-align: justify;">We develop the UI through iteration—rapidly designing and testing prototypes, collecting feedback, and intelligently modifying our layouts. The benefits of this approach are two-fold. First, it ensures that customer needs drive design. Second, marketers can make more informed decisions based on data.</p>
          <p style="text-align: justify;">This agile methodology is facilitated through the development of fully functional HTML wireframe prototypes. This allows us to test and validate your designs before graphic design and coding begins. The result is:</p>
        <ul>
          <li>Reduced design time</li>
          <li>A decrease in project delays</li>
          <li>No more budget overruns</li>
        </ul>

        </div>
      </div>
    </div>
  </section>

  <section id="APPS" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Apps development</h2>
      </div>
      <div class="row content">
        <div class="col-lg-9 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="150">
          <p style="text-align: justify;">
            Finding a technology partner with the expertise to develop on a variety of platforms can be a challenge. Most firms specialize in one technology or another. We’ve made it a priority to support custom applications development using a variety of the leading enterprise technologies, or if need be we can customize your off-the-shelf or open source platform.
Our developers can deliver solutions using:
          </p>
          <ul>
            <li>Software development technologies including Microsoft ASP .NET, .Net Core, Java EE, PHP, Apple iOS and Android</li>
            <li>Front-end development expertise including responsive sites and technical optimization for search</li>
            <li>JavaScript libraries/frameworks including Vue.js & ReactJS</li>
            <li>Content management systems including WordPress, Drupal, Joomla! and Umbraco</li>
            <li>Databases including Microsoft SQL Server, Oracle and MySQL</li>
            <li>Integrations with third-party platforms/services including Veeva, Salesforce, Google Tag Manager, SCORM Cloud and Symantec-CWP</li>
            <li>Cloud-based solutions such as Amazon Cloud (S3 and AWS), Microsoft Azure and Rackspace</li>
          </ul>

        </div>
        <div class="col-lg-3 order-lg-2 order-1" data-aos="fade-up" data-aos-delay="150"><img src="../../assets/images/softaware.jpg" class="infoimage "/></div>
      </div>
    </div>
  </section>
  <section id="MARK" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Brand building & performance marketing</h2>
      </div>
      <div class="row content">
        <div class="col-lg-3" data-aos="fade-up" data-aos-delay="150">
        <img src="../../assets/images/marketing.jpg" class="infoimage "/>
        </div>
        <div class="col-lg-9" data-aos="fade-up" data-aos-delay="150">
<p style="text-align: justify;">We Connect Your Brand with Customers</p>
<p style="text-align: justify;">Great branding is about giving customers a reason to believe. Selling your products and services takes more than low prices and great features. In this competitive marketplace connecting with customers is a priority. If you want them to care about your brand you need to do two things; make an emotional connection and create a meaningful experience.</p>
<p style="text-align: justify;">Using a process we call the Brand Discovery Workshop, we focus key stakeholders from a variety of disciplines on your organization, its products and services, mission and public perception in order to reach consensus on critical brand issues. We facilitate the discussions, adding insight as well as act as the “sounding board” and mediators.</p>
<p style="text-align: justify;">Once we’ve gained the required knowledge we can help you:</p>

<ul>
  <li>Launch a new brand or product</li>
  <li>Create brand messaging</li>
  <li>Rebrand your organization</li>
  <li>Ensure brand consistency</li>
</ul>
        </div>
      </div>
    </div>
  </section>

  <section id="MOB" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Apps development</h2>
      </div>
      <div class="row content">
        <div class="col-lg-9 order-lg-1 order-2" data-aos="fade-up" data-aos-delay="150">
            <p style="text-align: justify;">If you need to develop an app with custom features visit our company, we will study your case personally. Your mobile application in the Google Play and AppStore markets. Tell us your idea.</p>
            <p style="text-align: justify;">App DesignThe PHP script is the system par excellence in programming for web pages and applications. It is free and open source technology and is one of the main programming codes for developers.</p>
        </div>
        <div class="col-lg-3 order-lg-2 order-1" data-aos="fade-up" data-aos-delay="150"><img src="../../assets/images/mobile.jpg" class="infoimage "/></div>
      </div>
    </div>
  </section>
</main>
