<div class="container">
  <div class="row firstrow" style="background-image: url(/assets/bg3.jpg);">
    <div class="col firstrowmin">
      <div class="firstrowmin d-flex justify-content-center align-items-center">
        <div >
          <img src="/assets/logo2.png" height="300"/>
          <h1 class="h1">Your mentor to digital</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col blackbg d-flex text-light justify-content-center">
     <div class="mt-4 mb-3">
      <h1>Step to Digital world</h1>
      <h3>Get your buisness to new level.</h3>
     </div>
    </div>
  </div>
  <div class="row firstrow " style="background-image: url(/assets/bg4.jpg);">
    <div class="col-4 secondrowmin d-flex text-light justify-content-center align-items-center">
      <div>
        <div style="padding: 10px;"><h1>Idea</h1></div>
      <p>Discuss your idea and requirement, our team will analyse with latest approach. </p>
      </div>
    </div>
    <div class="col-4 secondrowmin d-flex text-light justify-content-center align-items-center">
      <div>
        <div style="padding: 10px;"><h1>Build</h1></div>
      <p>Our laser-focused team will develop your project with latest technology.</p>
      </div>
    </div>
    <div class="col-4 secondrowmin d-flex text-light justify-content-center align-items-center">
      <div>
        <div style="padding: 10px;"><h1>Test</h1></div>
      <p>Test your product with us and make you product better in each step.</p>
      </div>
    </div>
  </div>

</div>
