<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 pt-5 pt-lg-0 order-1 order-lg-1 d-flex flex-column justify-content-center"
      style="background-image: url('../../assets/images/home_title_background.png');">
        <h1 data-aos="fade-up" class="highlight">Wealth or Buiness, grow with Metazae</h1>
        <h2 data-aos="fade-up" data-aos-delay="400" class="highlight">
          We are team of talented analyst and engineers.
        </h2>
        <div data-aos="fade-up" data-aos-delay="800">
          <a routerLink="/services" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div
        class="col-lg-6 order-2 order-lg-2 hero-img pt-5"
        data-aos="fade-left"
        data-aos-delay="200"
      >
        <div
          class="col-lg-12 col-md-12"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <form
            role="form"
            class="php-email-form"
          >
            <div class="form-group">
              <input
                email
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
                [(ngModel)] = "name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
                [(ngModel)] = "email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
                [(ngModel)] = "subject"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required
                [(ngModel)] = "message"
              ></textarea>
            </div>
            <div class="my-3">
              <div  [ngClass]="{'alert alert-success': statuscode == 1, 'alert alert-danger': statuscode == 2}" role="alert">
                {{alertText}}
              </div>
            </div>
            <div class="text-center">
              <button type="submit" (click)="contact_submit()">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<main id="main">
  <section id="clients" class="clients clients">
    <div class="container"></div>
  </section>
  <!-- End Clients Section -->
  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>About Us</h2>
      </div>

      <div class="row content">
        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="150">
          <p style="text-align: justify;">
            MetaZae Research is a stock market solution providing company with
            vast experience of delivering quality trading SGX stock tips and
            KLSE stock signals. Our sole vision is to provide best trading
            experiences to our prestigious clienteles and build their strong
            portfolios with profitable trading goals.
          </p>
          <ul>
            <li>Our stock signals are easy to understand and implement</li>
            <li>The combo of technical and fundamental analysis</li>
            <li>Diverse service range for traders and investors</li>
            <li>Unique problem-solving approach for each client</li>
            <li>The experienced research team</li>
          </ul>
        </div>
        <div
          class="col-lg-12 pt-4 pt-lg-0"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          OUR TEAM
          <p style="text-align: justify;">
            We as a team believe ourselves as people’s team. The bond we share
            helps our company growing and satisfying our client’s needs and
            expectations. We have a dedicated team who interacts with our
            clients on a daily basis to understand their problems and their
            future goals.
          </p>
          <p style="text-align: justify;">
            Also, we have clubbed a team who 24*7 keeps an eye on stock market
            movements and prepare a detailed analysis which helps us in boosting
            our trade returns efficiency. That’s why we are cent percent
            confident on the Bursa Malaysia stock signals and Singapore stock
            market recommendations.
          </p>

          <p style="text-align: justify;">
            At MetaZae Research we value our client and that’s why we never
            hesitate to recruit good team as and when require so that we put all
            efforts to bring success on our client’s portfolios.
          </p>

          <a routerLink="/about" class="btn-learn-more">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Us Section -->

  <!-- ======= Services Section ======= -->
  <section id="services" class="services">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Services</h2>
        <p>Magnam dolores commodi suscipit eius consequatur ex aliquid fug</p>
      </div>

      <div class="section-title" data-aos="fade-up">
        <h3>Wealth</h3>
        <p>
          We allow you to start without having to worry about making a mistake,
          as we use our outstanding experience.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
            <h4 class="title"><a href="/services#KISP">KLSE EQUITY</a></h4>
            <li>KLSE INTRADAY STOCK PICKS</li>
            <li>KLSE MID-TERM STOCK PICKS</li>
            <li>PREMIUM KLSE STOCK PICKS</li>
            <li>KLSE SHARIAH STOCK PICKS</li>
          </div>

        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-currency-exchange"></i></div>
            <h4 class="title"><a href="/services#BFSP">FOREX &amp; COMEX</a></h4>
            <li>BASIC FOREX SIGNALS PACK</li>
            <li>FOREX PRO TRADING WITH EXPERT</li>
            <li>BASIC COMEX SIGNALS PACK</li>
            <li>COMEX PRO TRADING WITH EXPERT</li>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-currency-bitcoin"></i></div>
            <h4 class="title"><a href="/services#BITSP">INDICES &amp; CRYPTO</a></h4>
            <li>BASIC INDEX TRADING SIGNALS PACK</li>
            <li>INDEX PRO TRADING WITH EXPERT</li>
            <li>BASIC CRYPTOCURRENCY SIGNALS PACK</li>
            <li>CRYPTOCURRENCY PRO TRADING WITH EXPERT</li>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-graph-up-arrow"></i></div>
            <h4 class="title"><a href="/services#BCSP">SGX AND NASDAQ STOCKS</a></h4>
            <li>NASDAQ DAILY STOCK SIGNALS</li>
            <li>NASDAQ WEEKLY STOCK SIGNALS</li>
            <LI>SGX DAILY STOCK SIGNALS</LI>
            <LI>SGX WEEKLY STOCK SIGNALS</LI>
          </div>
        </div>
      </div>

      <div class="section-title margin20" data-aos="fade-up">
        <h3>Technology</h3>
        <p>
          We allow you to start without having to worry about making a mistake,
          as we use our outstanding experience.
        </p>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-globe"></i></div>
            <h4 class="title"><a href="">Web Development</a></h4>
            <p class="description">
              We develop the UI through iteration—rapidly designing and testing prototypes, collecting feedback, and intelligently modifying our layouts.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4 class="title"><a href="">App Development</a></h4>
            <p class="description">
              We’ve made it a priority to support custom applications development using a variety of the leading enterprise technologies, or if need be we can customize your off-the-shelf or open source platform.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-megaphone"></i></div>
            <h4 class="title"><a href="">Brand building & performance marketing</a></h4>
            <p class="description">
              We Connect Your Brand with Customers.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-receipt-cutoff"></i></div>
            <h4 class="title"><a href="">Case study</a></h4>
            <p class="description">
              At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Services Section -->

  <!-- ======= More Services Section ======= -->
  <!--
  <section id="more-services" class="more-services">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div
            class="card"
            style="background-image: url('assets/img/more-services-1.jpg')"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="card-body">
              <h5 class="card-title"><a href="">Lobira Duno</a></h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod
                tempor ut labore et dolore magna aliqua.
              </p>
              <div class="read-more">
                <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div
            class="card"
            style="background-image: url('assets/img/more-services-2.jpg')"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="card-body">
              <h5 class="card-title"><a href="">Limere Radses</a></h5>
              <p class="card-text">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                doloremque laudantium, totam rem.
              </p>
              <div class="read-more">
                <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div
            class="card"
            style="background-image: url('assets/img/more-services-3.jpg')"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="card-body">
              <h5 class="card-title"><a href="">Nive Lodo</a></h5>
              <p class="card-text">
                Nemo enim ipsam voluptatem quia voluptas sit aut odit aut fugit,
                sed quia magni dolores.
              </p>
              <div class="read-more">
                <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch mt-4">
          <div
            class="card"
            style="background-image: url('assets/img/more-services-4.jpg')"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="card-body">
              <h5 class="card-title"><a href="">Pale Treda</a></h5>
              <p class="card-text">
                Nostrum eum sed et autem dolorum perspiciatis. Magni porro
                quisquam laudantium voluptatem.
              </p>
              <div class="read-more">
                <a href="#"><i class="bi bi-arrow-right"></i> Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
-->
  <!-- End More Services Section -->
  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Features for Services</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="ri-store-line" style="color: #ffbb2c"></i>
            <h3><a href="">Live trading tips</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
            <h3><a href="">RSI Levels all day</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="ri-calendar-todo-line" style="color: #e80368"></i>
            <h3><a href="">Training and support program</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="ri-paint-brush-line" style="color: #e361ff"></i>
            <h3><a href="">High accuracy signal</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-database-2-line" style="color: #47aeff"></i>
            <h3><a href="">Daily & weekly research reports </a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-gradienter-line" style="color: #ffa76e"></i>
            <h3><a href="">Cost-effective</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-file-list-3-line" style="color: #11dbcf"></i>
            <h3><a href="">Time saving</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-price-tag-2-line" style="color: #4233ff"></i>
            <h3><a href="">Best design</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-anchor-line" style="color: #b2904f"></i>
            <h3><a href="">Dirada Pack</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-disc-line" style="color: #b20969"></i>
            <h3><a href="">SEO optimized website</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-base-station-line" style="color: #ff5828"></i>
            <h3><a href="">Improved Visibility and reach</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="ri-fingerprint-line" style="color: #29cc61"></i>
            <h3><a href="">24*7 support</a></h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Features Section -->
  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Testimonials</h2>
        <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
      </div>

      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec
                  porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                  eget id, aliquam eget nibh et. Maecen aliquam, risus at
                  semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse
                  labore quem cillum quid cillum eram malis quorum velit fore
                  eram velit sunt aliqua noster fugiat irure amet legam anim
                  culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint
                  quorum nulla quem veniam duis minim tempor labore quem eram
                  duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                  multos export minim fugiat minim velit minim dolor enim duis
                  veniam ipsum anim magna sunt elit fore quem dolore labore
                  illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-wrap">
              <div class="testimonial-item">
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                  veniam tempor noster veniam enim culpa labore duis sunt culpa
                  nulla illum cillum fugiat legam esse veniam culpa fore nisi
                  cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Team Section ======= -->

  <!-- ======= Pricing Section ======= -->
  <section id="pricing" class="pricing">
    <div class="container">
      <div class="section-title">
        <h2>Pricing</h2>
        <p>Sit sint consectetur velit nemo qui impedit suscipit alias ea</p>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
            <h3>Free</h3>
            <h4><sup>$</sup>0<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
        <!--
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
            <h3>Business</h3>
            <h4><sup>$</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
      -->
        <div class="col-lg-6 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
            <h3>Developer</h3>
            <h4><sup>$</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Pricing Section -->

  <!-- ======= F.A.Q Section ======= -->
  <section id="faq" class="faq">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Frequently Asked Questions</h2>
      </div>

      <div
        class="row faq-item d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>Non consectetur a erat nam at lectus urna duis?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
            volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna
            fringilla urna porttitor rhoncus dolor purus non.
          </p>
        </div>
      </div>
      <!-- End F.A.Q Item-->

      <div
        class="row faq-item d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>
            Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant
            morbi. Id interdum velit laoreet id donec ultrices. Fringilla
            phasellus faucibus scelerisque eleifend donec pretium. Est
            pellentesque elit ullamcorper dignissim.
          </p>
        </div>
      </div>
      <!-- End F.A.Q Item-->

      <div
        class="row faq-item d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="300"
      >
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>
            Dolor sit amet consectetur adipiscing elit pellentesque habitant
            morbi?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis
            orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra
            diam sit amet nisl suscipit. Rutrum tellus pellentesque eu
            tincidunt. Lectus urna duis convallis convallis tellus.
          </p>
        </div>
      </div>
      <!-- End F.A.Q Item-->

      <div
        class="row faq-item d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="400"
      >
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?</h4>
        </div>
        <div class="col-lg-7">
          <p>
            Aperiam itaque sit optio et deleniti eos nihil quidem cumque.
            Voluptas dolorum accusantium sunt sit enim. Provident consequuntur
            quam aut reiciendis qui rerum dolorem sit odio. Repellat assumenda
            soluta sunt pariatur error doloribus fuga.
          </p>
        </div>
      </div>
      <!-- End F.A.Q Item-->

      <div
        class="row faq-item d-flex align-items-stretch"
        data-aos="fade-up"
        data-aos-delay="500"
      >
        <div class="col-lg-5">
          <i class="ri-question-line"></i>
          <h4>
            Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
          </h4>
        </div>
        <div class="col-lg-7">
          <p>
            Molestie a iaculis at erat pellentesque adipiscing commodo.
            Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra
            maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
            Purus gravida quis blandit turpis cursus in
          </p>
        </div>
      </div>
      <!-- End F.A.Q Item-->
    </div>
  </section>
  <!-- End F.A.Q Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-title" data-aos="fade-up">
        <h2>Contact Us</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-about">
            <h3>Metazae</h3>
            <p style="text-align: justify;">
              MetaZae Research is a stock market solution providing company with vast experience of delivering quality trading SGX stock tips and KLSE stock signals. Our sole vision is to provide best trading experiences to our prestigious clienteles and build their strong portfolios with profitable trading goals
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/MetaxZae" class="facebook"
                ><i class="bi bi-facebook"></i
              ></a>
              <a href="https://www.instagram.com/meta.zae/" class="instagram"
                ><i class="bi bi-instagram"></i
              ></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div
          class="col-lg-3 col-md-6 mt-4 mt-md-0"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="info">
            <div>
              <i class="ri-map-pin-line"></i>
              <p>Indore, Madhya Pradesh, India <br />Pin - 452010</p>
              <p>Awas Vikas 3, Kalyanpur, Kanpur, Uttar Pradesh Pin - 208017</p>
            </div>

            <div>
              <i class="ri-mail-send-line"></i>
              <p>
                <a href="mailto:contact.metazae@gmail.com"
                  >contact.metazae@gmail.com</a
                >
              </p>
            </div>

            <div>
              <i class="ri-phone-line"></i>
              <p>
                Contact 1: <a href="tel:+918602759612">+91 860-275-9612</a>
                <br />Contact 2:
                <a href="tel:+917007111109">+91 700-711-1109</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
          <form
            role="form"
            class="php-email-form"
          >
            <div class="form-group">
              <input
                email
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                required
                [(ngModel)] = "name"
              />
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                required
                [(ngModel)] = "email"
              />
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
                [(ngModel)] = "subject"
              />
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                placeholder="Message"
                required
                [(ngModel)] = "message"
              ></textarea>
            </div>
            <div class="my-3">
              <div  [ngClass]="{'alert alert-success': statuscode == 1, 'alert alert-danger': statuscode == 2}" role="alert">
                {{alertText}}
              </div>
            </div>
            <div class="text-center">
              <button type="submit" (click)="contact_submit()">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->
